
.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.App-header {
  background-color: #3f5c96;
  max-width: 370px;
  border-radius: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  width: 100%;
  text-align: center;
}

.App-main {
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(6, 114, 238);
}

.footer {
  background-color: #f8f9fa;
  padding: 5px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  position: fixed;
  bottom: 0;
  width: 100%;
}


input[type="text"] {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 20px);
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h1{
  
  margin-left: 20px;
}

/*lshortink*/

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 10px;
}


/*SlidingPanel*/

.sliding-panel {
  position: fixed;
  top: 0;
  right: -320px;
  width: 300px;
  max-height: 90%;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 4px;
}

.sliding-panel.open {
  right: 0;
}

.close-button {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  min-height: 39px;
}

.close-button:hover {
  background-color: #c9302c;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

li a {
  text-decoration: none;
  color: #337ab7;
  font-weight: bold;
}

li a:hover {
  text-decoration: underline;
}

li span {
  display: block;
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}

.panel-header {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}


/*showurl*/

.showurlbutton{
  position: fixed;
  top: 20px;
  right: 100px;
  padding: 10px 20px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001;

}